* {
    box-sizing: border-box;
}

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: white;
}

p,h1,h2,ol,li {
  margin: 0;
  padding: 0;
}

.shelves {
  text-align: center;
  margin-bottom: 40px;
}

.shelves header {
  background-color:  #A2224F;
  padding: 8px;
  color: white;
  margin-bottom: 16px;
  z-index: 5;
}

.search-button {
  position:fixed;
  width:50px;
  height:50px;
  bottom:20px;
  right:20px;
  border-radius:50%;
  box-shadow: 2px 2px 3px #999;
  font-size: 0;
  background-color:#0C9; /*e35160*/
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  color:#FFF;
  text-align:center;
}