.book {
	border: 1px solid #bbb;
	margin: 16px;
	display: flex;
	flex-direction:  column;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 140px;
}

.book-title, .book-authors {
  font-size: 1em;
  text-align: left;
}

.book-title {
	margin: 0.5em 0 0.25em 0;
}

.book-authors {
  color: #999;
  margin-bottom: 0.5em;
}

.book-top {
  position: relative;
  height: 180px;
  max-width: 140px;
  display: flex;
  align-items: flex-end;
  margin: auto;
}

.book-cover {
	width: 140px;
	height: 188px;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ec7581;
  background-image: url('icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}